@import "mixins";

f-face('Roboto-latin', 'roboto-v20-latin-regular', 'Roboto-latin', 'serif')
f-face('Roboto-Black', 'Roboto-Black', 'Roboto-Black', 'serif')
f-face('Roboto-Bold', 'Roboto-Bold', 'Roboto-Bold', 'serif')
f-face('Roboto-Light', 'Roboto-Light', 'Roboto-Light', 'serif')
f-face('Roboto-Medium', 'Roboto-Medium', 'Roboto-Medium', 'serif')
f-face('Roboto-Regular', 'Roboto-Regular', 'Roboto-Regular', 'serif')
f-face('Roboto-Thin', 'Roboto-Thin', 'Roboto-Thin', 'serif')
