base-button()
    @extend .btn
    @extend .btn-lg
    font-size: 14px
    padding: 7px 20px	

f-face(style-name, file, family, category) 
    filepath = "/fonts/" + file
    @font-face 
        font-family: style-name
        src: url(filepath + ".ttf") format('truetype')
