.labeled-checkbox
    padding-top: 20px
    position: relative

    &__box
        height: 16px
        margin: 0px
        width: 16px
    
    &__label
        color: rgb(30, 34, 57)
        font-size: 18px
        padding-left: 8px
