.labeled-input
    margin-top: 17px

    &:first-child
        margin-top: 0px

    &__label
        display: inline-block
        font-size: 18px
        font-family: "Roboto-Medium", Helvetica, Arial, sans-serif
        padding-top: 4px
    &__input
        box-sizing: border-box
        border: 1px rgb(199, 206, 212) solid
        font-size: 30px
        margin-top: 3px
        padding: 6px 10px
        width: 100%